---
import Layout from "../layouts/BlogPost.astro";

let materias = [
  "Fundamentos de Programaci贸n",
  "Programaci贸n Orientada a Objetos",
  "Estructura de Datos",
  "T贸picos Avanzados de Programaci贸n",
  "Programaci贸n Web",
  "Desarrollo de Aplicaciones Web",
  "Desarrollo de Aplicaciones M贸viles",
  "Desarrollo de Aplicaciones Multiplataforma",
  "Taller de Base de Datos",
  "Administraci贸n de Base de Datos",
];
---

<Layout
  title="Acerca de m铆"
  description="Un poco sobre m铆 y el prop贸sito de esta p谩gina."
  pubDate={new Date()}
  heroImage="/about-me.png"
>
  <blockquote>
    Profesor, developer, padre de familia y esposo enamorado.
  </blockquote>

  <p>
    Hola, me llamo Jaime Jes煤s Delgado Meraz, vivo en Cd. Valles, San Luis
    Potos铆; soy Licenciado en Inform谩tica, con Master en Sistemas
    Computacionales y Doctor en Alta Direcci贸n.
  </p>
  <p>
    Soy docente en el Instituto Tecnol贸gico de Ciudad Valles donde he impartido
    asignaturas como:
    <ul>
      {materias.map((materia) => <li>{materia}</li>)}
      <li>Entre otras...</li>
    </ul>
  </p>
  <p>
    Tengo experiencia en desarrollo de software, con tecnolog铆as como: HTML,
    CSS, JS, PHP, Java, Dart, Python, y bases de datos como MySQL y PostgreSQL.
  </p>
  <p>Actualmente trabajo principalmente con Laravel, FilamentPHP y Flutter.</p>
  <p>
    Me apasiona la programaci贸n y la ense帽anza, me gusta compartir mi
    conocimiento de una manera sencilla y clara, para que cualquier persona lo
    pueda entender .
  </p>
  <p>
    Creo que la educaci贸n es la base para el desarrollo de la sociedad, y creo
    que cada d铆a es posible aprender algo nuevo, as铆 sea algo peque帽o.
  </p>
  <p>
    Esta p谩gina pretende ser un espacio donde compartir茅 mis conocimientos,
    experiencias y opiniones sobre la programaci贸n, la tecnolog铆a y la
    educaci贸n.
  </p>
  <p>
    Si te sirve o no lo que comparto <strong>depende</strong>  de ti.
  </p>
</Layout>
