---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../consts";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE.TITLE} description={SITE.DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello World!</h1>
      <p>Bienvenid@ a mi sitio web.</p>
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    min-height: 50vh;
  }
</style>
