---
const { currentPath } = Astro.props; // with leading '/'  e.g /cars/toyota/sedans/toyota-crown
const getBreadcrumbs = (path) => {
  const splitPath = path.split("/"); // e.g. result : [ '' ,'cars', 'toyota', 'sedans', 'toyota-crown']
  if (path.endsWith("/")) splitPath.pop(); // remove last element if path has a trailing '/'
  let breadcrumbs: string[] = []; // Inicializar breadcrumbs

  while (splitPath.length > 2) {
    // stop until where the first path preceeding the trailing '/' at index 1 i.e ['', 'first_path', 'second_path' , ...]
    splitPath.pop();
    breadcrumbs.push(splitPath.join("/"));
  }

  return breadcrumbs;
};

const breadcrumbs = getBreadcrumbs(currentPath).reverse();
const hasSubPaths = breadcrumbs.length > 0;
---

<div>
  <nav aria-label="breadcrumb">
    <ul>
      {
        hasSubPaths && (
          <li>
            <a href="/" aria-label="Inicio">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-home"
              >
                <>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                  <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                  <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                </>
              </svg>
            </a>
          </li>
        )
      }
      {
        breadcrumbs &&
          breadcrumbs.map((breadcrumb) => (
            <li>
              <a href={breadcrumb + "/"}>
                {(() => {
                  const lastPart = breadcrumb.split("/").pop();
                  return lastPart
                    ? lastPart.charAt(0).toUpperCase() + lastPart.slice(1)
                    : "";
                })()}
              </a>
            </li>
          ))
      }
    </ul>
  </nav>
</div>
<style>
  div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
</style>
