---
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";
import { SITE } from "../consts";
import { Icon } from "astro-icon/components";
---

<header>
  <nav>
    <h2><a href="/">{SITE.TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/" aria-label="Inicio">
        <Icon name="tabler:home" />
      </HeaderLink>
      <HeaderLink href="/slides" aria-label="Slides">
        <Icon name="tabler:presentation" />
      </HeaderLink>
      <HeaderLink href="/apps" aria-label="Apps">
        <Icon name="tabler:apps" />
      </HeaderLink>
      <HeaderLink href="/blog" aria-label="Blog">
        <Icon name="tabler:file-text" />
      </HeaderLink>
      <HeaderLink href="/about" aria-label="Acerca de mí">
        <Icon name="tabler:user" />
      </HeaderLink>
    </div>
    <SocialLinks />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 0.5em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a [data-icon] {
    margin-bottom: -0.3em;
  }
  nav .internal-links a:not(.active) [data-icon] {
    color: var(--pico-color-grey-500);
  }
  nav .internal-links a:not(.active):hover {
    border-bottom-color: var(--pico-color-grey-400);
  }
  nav .internal-links a:not(.active):hover [data-icon] {
    color: var(--pico-color-grey-400);
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  nav a.active [data-icon] {
    color: var(--accent) !important;
  }
</style>
