---
import { SOCIAL_LINKS } from "../consts";
import { Icon } from "astro-icon/components";
---

<div class="social-links">
  {
    SOCIAL_LINKS &&
      SOCIAL_LINKS.map((link) => (
        <a href={link.href} target="_blank">
          <span class="sr-only">{link.label}</span>
          <Icon name={`tabler:${link.icon}`} />
        </a>
      ))
  }
</div>
